@import "./styles/Fonts.scss";
@import "./styles/Colors.scss";
@import "./styles/Defaults.scss";
@import "./styles/GameFrame.scss";

html
{
    font-family: goldfish;
    background-color: $black;

    #game-frame
    {
    	background-color: $white;
    }
}
